.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.home {
    display: flex;
    width: 100%;
  }
  
.filters {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 86vh;
    margin-left: 0;
  }
  
  .filters > span {
    padding-bottom: 20px;
  }
  
